.flex-container {
  display: flex;
  flex-direction: column;
  font-family: cursive;
}

div {
  padding: 20px 7px 20px;
}

img {
  width: 20%;
  height: auto;
  position: relative;
  top: 100px;
}

.header {
  font-family: cursive;
  text-align: center;
}

body {

  background-color: lightblue;

}

.relative {
  position: relative;
  left: 20px;
}

.relative-dragon {
  position: relative;
  bottom: 200px;
  left: 100px;
}

.relative-naruto {
  position: relative;
  top: 125px;
  left: 60px;
}

input[type=radio],
input[type=checkbox] {
  transform: scale(1);
  margin: right;
}